{% comment %} 個人情報保護方針 {% endcomment %}
{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--1100 section-{{ section.id }}-padding u-main-cont">
  <h1 class="main-page-title page-title h1{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} center">
    {{ page.title | escape }}
  </h1>

   <p>
メリダジャパン株式会社（以下、「当社」といいます。）は、個人情報について、「個人情報保護方針（プライバシー・ポリシー）」に従い適正な管理を行うとともに、個人情報の保護に努めます。<br>
具体的には、以下の内容に従って個人情報の取り扱いを行います。</p>

<h2>第１条	関連法令・ガイドライン等の遵守について</h2>
<p>当社は、個人情報の取扱いに関し、個人情報保護法及び関連する政省令、ガイドライン等を遵守します。</p>
  
<h2>第２条	個人情報の利用目的について</h2>
<h3>1.	当社は、事業を行うにあたり、提供を受けた個人情報を、以下の目的で利用します。</h3>
  
<table class="u-table-bdr">
  <thead>
    <tr>
      <th>個人データの種類</th>
      <th>利用目的</th>
    </tr>
    </thead>
  <tbody>
    <tr>
      <td style="width:165px;">お問い合わせやご相談等をいただいた方の個人情報</td>
      <td>
        <ul class="u-ul">
          <li>・お問い合わせやご相談等に関する回答や質問等の連絡のため</li>
          <li>・委託先や販売店への提供のため（お問い合わせやご相談等の内容により、委託先や販売店への調査・確認を依頼するため）</li>
          <li>・当社製品・サービスの品質向上・改善のため</li>
          <li>・当社製品の購入履歴把握による販売管理及び顧客管理のため</li>
        </ul>
</td>
    </tr>
    <tr>
      <td>当社が開催するイベントなどの申込者、参加者の個人情報</td>
      <td>
         <ul class="u-ul">
          <li>・イベントの運営のため</li>
          <li>・当社のイベントまたは当社製品・サービスに関するご連絡、お知らせやご案内の送付・送信のため</li>
          <li>・イベントに関するテレビ放映または雑誌、パンフレット、ホームページ等の制作物への掲載</li>
          <li>・当社製品・サービスの販売戦略構築に向けた情報分析・解析のため</li>
          <li>・当社製品・サービスの品質向上・改善のため</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>メール会員の個人情報</td>
      <td>
        <ul class="u-ul">
          <li>・メール配信のため</li>
          <li>・当社のイベントまたは当社製品・サービスに関するご連絡、お知らせやご案内のため</li>
          <li>・当社製品・サービスの販売戦略構築に向けた情報分析・解析のため</li>
          <li>・当社製品・サービスの品質向上・改善のため</li>
          <li>・当社製品の購入履歴把握による販売管理及び顧客管理のため</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>カタログ、資料等の請求者に関する個人情報</td>
      <td>
         <ul class="u-ul">
          <li>・カタログ、資料等の発送前後のご連絡、お知らせやご案内のため</li>
          <li>・カタログ、資料等の発送のため</li>
          <li>・当社のイベントまたは当社製品・サービスに関するご連絡、お知らせやご案内のため</li>
          <li>・当社製品・サービスの販売戦略構築に向けた情報分析・解析のため</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>販売店および営業活動から取得した個人情報</td>
      <td>
         <ul class="u-ul">
          <li>・当社のイベントまたは当社製品・サービスに関するご連絡、お知らせやサービスのご案内のため</li>
          <li>・当社製品に関する当社単独又は販売店と共同での販売戦略構築に向けた情報分析のため</li>
          <li>・当社製品・サービスの品質向上・改善のため</li>
          <li>・当社製品の購入履歴把握による販売管理及び顧客管理のため</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>当社オンラインショップから取得した個人情報</td>
      <td>
        <ul class="u-ul">
          <li>・ご注文いただいた商品の発送のため</li>
          <li>・当社のイベントまたは当社製品・サービスに関するご連絡、お知らせやご案内のため</li>
          <li>・当社製品・サービスの販売戦略構築に向けた情報分析・解析のため・当社製品・サービスの品質向上・改善のため</li>
          <li>・当社製品の購入履歴把握による販売管理及び顧客管理のため</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>公開情報、イベント等で配布された名簿等から取得した個人情報</td>
      <td>
         <ul class="u-ul">
          <li>・当社のイベントまたは当社製品・サービスに関するご連絡、お知らせやご案内のため</li>
          <li>・当社製品・サービスの販売戦略構築に向けた情報分析・解析のため</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
  <h3>2.	当社は、次の個人情報を上記に記載の利用目的のために利用します。</h3>
  <ul class="bdr_list">
  <li>A)	氏名・住所・生年月日等の情報<br>
    <span class="indent-1-5">氏名・性別・住所・生年月日・電話番号・メールアドレス・写真・映像・購入履歴</span>
</li>
  <li>B)	それ以外の情報<br>
    <span class="indent-1-5">(ア)	当社にご注文いただいた製品、カタログ請求等に関する情報<br>
(イ)	イベント等の参加申し込みに関する情報<br>
(ウ)	当社製品ご購入からアフターサービスに関する情報<br>
(エ)	お申し込み受付履歴、ご意見・ご要望の内容、当社のサービス提供に伴い取得した情報
    </span>
    </li>
    </ul>
  
  <h2>第３条	個人情報の共同利用について</h2>
  <p>当社は、当社販売店との間で、個人データを共同利用いたします。<br>
また、これら以外に個人データの共同利用を行う場合は、個人情報を保有するご本人、または代理人に対して、必要事項を事前にお知らせいたします。
</p>
  
<h3>1.	共同利用の目的</h3>
<ul class="bdr_list">
<li>A)	当社製品に関する販売店との共同での販売戦略構築に向けた情報収集のため</li>
<li>B)	当社のイベントまたは当社製品・サービスに関するご連絡、お知らせやご案内のため</li>
<li>C)	当社製品の購入履歴把握による販売管理及び顧客管理のため</li>
<li>D)	当社製品の発送、お受け取り、当社のイベントに関するお申し込み情報の管理、ご連絡のため</li>
<li>E)	当社製品・サービスの品質向上・改善のため</li>
</ul>
<h3>2.	共同利用する個人情報</h3>
<ul class="bdr_list">
<li>A)	氏名・性別・住所・生年月日・電話番号・メールアドレス・写真・映像・購入履歴</li>
<li>B)	それ以外の情報<br>
  <span class="indent-1-5">(ア)	当社にご注文いただいた製品、カタログ請求等に関する情報<br>
(イ)	イベントの参加申し込みに関する情報<br>
(ウ)	当社製品ご購入からアフターサービスに関する情報<br>
(エ)	お申し込み受付履歴、ご意見・ご要望の内容、当社のサービス提供に伴い取得した情報</span>
</li>
</ul>
<h3>3.	共同利用する個人情報の管理について責任を有する者</h3>
<p>メリダジャパン株式会社</p>
  
<h2>第４条	個人情報の第三者提供等について</h2>
<p>当社は、以下のいずれかに該当する場合を除き、個人情報を第三者（外国にある第三者を含む）に開示または提供いたしません。</p>
<ul class="bdr_list">
<li>1.	ご本人の同意がある場合</li>
<li>2.	統計的なデータなどご本人を識別することができない状態で開示・提供する場合</li>
<li>3.	法令に基づき開示・提供を求められた場合</li>
<li>4.	人の生命、身体または財産の保護のために必要な場合であって、ご本人の同意を得ることが困難である場合</li>
<li>5.	国または地方公共団体等が公的な事務を実施するうえで、協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
</ul>

<h2>第５条	委託先の取り扱い</h2>
<p>当社は、個人情報等の取り扱いを第三者に委託することがあります。この場合は、当社は、個人情報保護法に従って、委託先に対する必要かつ適切な監督を行います。</p>

<h2>第６条	個人情報の管理について</h2>
<p>当社は、個人情報に関する法令、規範および社内諸規程に則り、皆様からご提供いただいた個人情報を適正に管理いたします。また、当社は、個人情報への不正アクセス、紛失、破壊、改ざん、漏洩等について適切かつ合理的な安全対策を講じるとともに、万一の発生時には速やかな是正措置を実施いたします。</p>

<h2>第７条	個人情報の継続的改善について</h2>
<p>当社は、個人情報等の取り扱いを継続的に改善するように努めます。</p>

<h2>第８条	個人情報の開示等の請求について</h2>
<p>当社は、ご提供いただいた個人情報に関して、ご本人またはその代理人から、開示・訂正・削除・利用停止等の請求があった場合には、お申し出いただいた方がご本人であることを確認したうえで、次の場合を除き、遅滞なく回答します。</p>
<ul class="bdr_list">
<li>1.	本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
<li>2.	当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
<li>3.	法令に違反することとなる場合</li>
  </ul>

<h2>第９条	質問及び苦情処理の窓口</h2>
<p>当社の個人情報等の取り扱いに関する質問または苦情につきましては、お問い合わせ前に必ず個人情報保護方針の内容をご確認の上、同意をいただける方のみ、以下にお問い合わせください。</p>
<p class="u-box-info u-box__gray"><b>【お問い合わせ窓口】</b><br>
 メリダジャパン株式会社　お客様相談室<br>
 TEL　0465-80-0661<br>
 Mail info-merida-shop@gear-m.co.jp<br>
（曜日：月曜日〜金曜日（祝祭日を除く）　時間：9：30〜17：30）</p>
<p><span class="u-f-small">※お電話にてお問い合わせいただいた際、お客様のお名前、ご住所、電話番号をお伺いすることがございますが、お問い合わせへの対応及び社内統計処理の為のみ利用させていただきます。また、お客様からのお電話は内容確認の為、録音させていただいております。</span></p>

<p class="u-txt-right">制定：2010年6月01日<br>
改定：2020年5月15日<br>
<br>
メリダジャパン株式会社</p>
</div>
{% schema %}
{
  "name": "Custom Main Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "セクションの余白設定"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "上パディング",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "下パディング",
      "default": 36
    }
  ]
}
{% endschema %}
