{% comment %} ご利用ガイドテンプレート {% endcomment %}
{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
.lead_h2 {
  background: url('{{ "guide-bike_bg_cart.png" | asset_url }}') 98% center no-repeat #8ec31f;

}
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--1100 section-{{ section.id }}-padding u-main-cont main-contents-guide">
  <h1 class="main-page-title page-title h1{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} center">
    {{ page.title | escape }}
  </h1>

<!-- ▼コンテンツ/利用案内 ▼ -->
<!-- ▼コンテンツ/利用案内（バイクの注文方法・受け取り方法） ▼ -->
        <h2 class="lead_h2">ネットでバイクを注文。<br>
          「公式オンラインショップ」だから実現する充実のサポート。<br>
          安心してご購入いただけます。</h2>
        <p>公式オンラインショップ「MERIDA SHOP」では、MERIDAバイクのご注文を承っております。<br>
          オンラインでバイクを注文し、専門店で受け取ることができる便利なサービスです。<br>
          MERIDA専門スタッフのアドバイスや、正規取扱店でのアフターサポートも受けられるので、安心してご購入いただけます。是非ご利用ください。</p>
        <div class="col_3">
          <div class="col_3_cont">
            <h3 class="col_title_bg_gray">充実のラインアップ</h3>
            <img src="{{ 'guide_bike_img_01.jpg' | asset_url }}" alt="" height="154" width="235">
            <p>MERIDAの最新バイクを網羅した、充実のラインナップ。 お近くのショップにはないバイクもネットなら注文可能です。</p>
          </div>
          <div class="col_3_cont">
            <h3 class="col_title_bg_gray">専門スタッフによるサポート</h3>
            <img src="{{ 'guide_bike_img_02.jpg' | asset_url }}" alt="" height="154" width="235">
            <p>ご注文の前も後も、ご希望のバイクがご購入できるよう、MERIDAのスタッフによるサポートをさせていただきます。</p>
          </div>
          <div class="col_3_cont">
            <h3 class="col_title_bg_gray">近くのお店で受け取り</h3>
            <img src="{{ 'guide_bike_img_03.jpg' | asset_url }}" alt="" height="154" width="235">
            <p>バイクのお受け取りは、ご指定の正規取扱店にて、お客様に合わせた調整・完成車にしてお渡しいたします。その後のサポートも安心です。</p>
          </div>
        </div>
        <h2 class="title_size_h1">ご購入の流れ</h2>
        <p><b>MERIDA SHOPにてバイクのご注文については、以下の流れで行って下さい。</b></p>
        <ol class="step_list u-clearfix">
          <li><span class="u-f-barlow-b">1</span>バイク選択</li>
          <li><span class="u-f-barlow-b">2</span>サイズカラー選択</li>
			<li><span class="u-f-barlow-b">3</span>受け取り店舗入力<br>バイク注文</li>
		<li><span class="u-f-barlow-b">4</span>注文確認のご連絡</li>
			<li><span class="u-f-barlow-b">5</span>納品のご連絡</li>
		  </ol>
        <h3 class="title_size_h1 title_green">1.バイクを選ぶ。</h3>
        <p>MERIDA SHOP TOPから、バイクのカテゴリ→タイプ→モデルを選択します。</p>
       
     <p class="u-img-max-width u-img-sp-width375"><picture><source media="(max-width:767px)" srcset="{{ 'guide_bike_cap_select_sp.jpg' | asset_url }}"> <img src="{{ 'guide_bike_cap_select.jpg' | asset_url }}" alt="画面キャプチャ" width="760"></picture></p> 
        <h3 class="title_size_h1 title_green">2.サイズ・カラーを選択。</h3>
        <p>ご希望のサイズ・カラーを選択します。<br>
          上記を入力し、「カートに追加する」ボタンをクリックします。ご注文の場合は、「カートを見る」をクリックします。</p>
         <p class="u-img-max-width u-img-sp-width375"><picture><source media="(max-width:767px)" srcset="{{ 'guide_bike_cap_model_sp.jpg' | asset_url }}"> <img alt="STEP" height="234" src="{{ 'guide_bike_cap_model.jpg' | asset_url }}" width="475"></picture></p>
        
        <h3 class="title_size_h1 title_green">3.受け取り店舗を入力。バイクを注文する。</h3>
         <p>カート画面にて、「バイクの受け取り店舗を選択」をクリックします。</p>
       <div class="u-box-info u-box__guide u-clear">
         <h4 class="h3 u-mgt-0">＜受け取り店舗のご指定について＞</h4>
            <p>MERIDAバイクのお受け取りは、お客様のご指定正規取扱店でのお受け取りとなります。<br>
          カートページに進むと購入する商品が表示されますので、内容をご確認の上商品を受け取るショップを選択してください。</p>
         <p class="u-img-max-width"><picture><source media="(max-width:767px)" srcset="{{ 'guide_bike_cap_search_sp.jpg' | asset_url }}"> <img alt="" src="{{ 'guide_bike_cap_search.jpg' | asset_url }}" width="478"></picture></p>
          {% comment %} <div class="u-f-l-pc">
            <h4 class="h3 u-mgt-0">＜受け取り店舗のご指定について＞</h4>
            <p>MERIDAバイクのお受け取りは、お客様のご指定正規取扱店でのお受け取りとなります。<br>
          カートページに進むと購入する商品が表示されますので、<br>
          内容をご確認の上商品を受け取るショップを選択してください。</p>
           <p><a class="link-bg_green" href="https://www.merida.jp/shopsearch/ec/search/" target="_blank">MERIDA Webサイト「SHOP SEARCH」</a></p> 
          </div> 
          <div class="u-f-r-pc u-img-max-width"><picture><source media="(max-width:767px)" srcset="{{ 'guide_bike_cap_search_sp.png' | asset_url }}"> <img alt="" src="{{ 'guide_bike_cap_search.jpg' | asset_url }}" width="266"></picture>
          </div>{% endcomment %}
        </div>
        <p>「バイクの受け取り店舗を選択」後、「購入手続きに進む」をクリックします。<br>
          注文者の情報および決済方法など必須事項を入力し、「今すぐ支払う」ボタンをクリックします。<br>
          クレジットカードの情報を入力し、「送信」をクリックします。注文内容・入力情報などを確認し、注文を確定します。<br>ご登録いただいたメールアドレスへご注文内容確認メールが配信されます。</p>
     <p class="u-img-max-width u-img-sp-width375"><picture><source media="(max-width:767px)" srcset="{{ 'guide_bike_cap_order_sp.jpg' | asset_url }}"> <img alt="" height="" src="{{ 'guide_bike_cap_order.jpg' | asset_url }}" width="475"></picture></p>

        <h3 class="title_size_h1 title_green">4.MERIDAスタッフより、注文確認のご連絡</h3>
        <p>後日、MERIDAスタッフより注文内容・受け取り店舗および納品日のご連絡をさせていただきます。</p>
        <p class="u-img-max-width"><img alt="" height="96" src="{{ 'guide_bike_img_04.jpg' | asset_url }}" width="290"></p>
        <h3 id="date" class="title_size_h1 title_green">5.納品のご連絡。ご指定の正規取扱店にてお受け取り</h3>
        <p>ご指定の正規販売代理店にバイクが納品されましたら、スタッフよりご連絡させていただきます。 正規販売代理店にご来店いただき、バイクをお受け取り下さい。</p>
        <p class="u-img-max-width"><img alt="" height="101" src="{{ 'guide_bike_img_05.jpg' | asset_url }}" width="489"></p>
        <h2>お支払について</h2>
        <p>お支払い方法は、クレジットカード、ショッピングクレジットでのお支払いとなります。</p>
        <div class="u-box-info">
          <h3>クレジットカード</h3>
          GMOイプシロンと提携したクレジット決済です。<br>
          発行しているカード会社に関係なく、カードに下記会社ロゴが入っていれば、ご利用可能です。<br>
          <b>「一括払い」</b>もしくは<b>「分割払い」</b>のお支払いがご利用いただけます。<br>
          <b>カード会社　　VISA/MASTER/Diners/American Express/JCB</b><br>
          <img src="{{ 'credit.jpg' | asset_url }}" alt="カード会社ロゴイメージ VISA/MASTER/Diners/American Express/JCB" width="276" height="58"><br>
          <span class="u-f-small">※SSLと呼ばれる暗号通信技術を使用していますので、安全にカード番号が入力できます。また、カード番号は記録を残すことなくその場でオーソリ（カードの有効性チェック）を行いますので、安心してお買い物いただけます。 </span><br><br>
	 
            <h3>ショッピングクレジット（WeBBy）</h3>
          JACCSと提携したショッピングクレジットです。<br>
          Web上の手続きだけでお申込いただける株式会社ジャックスの分割払いです。<br>
           <b>「分割払い」</b>のお支払いがご利用いただけます。<br></span>
          ・最長84回の分割払いに、ボーナス併用もOKです。<br>
          ・ご購入金額が3万円以上、月々3千円以上のお支払からご利用いただけます。<br>
          ・分割払いの手数料率に関しては、ご利用案内ページにてご確認ください。<br><br>

          ■商品の発送に関して<br>
          お客様と株式会社ジャックスとの契約成立をもって、商品の出荷手続きを行います。<br>
          審査の結果により､ご利用いただけない場合がございます。あらかじめご了承ください。<br>
            
 <br>
            <h3>予約注文商品のクレジットカード決済日について</h3>
			入荷予定が２ヶ月以内の商品は<b><u>発送と同日</u></b>。入荷予定が注文日から２ヶ月以上の商品は、<b><u>ご注文日から50日後に決済が行われます。</u></b>ご注文後の確認連絡の際にもご案内いたします。

        
            
            
            
            
            
            
            <!--<h3>銀行振込（前払い)</h3>

<div class="mgb30">ご注文後、弊社指定の金融機関に代金をお振り込み頂くお支払い方法です。<br>
<span class="mini">※お振込手数料は、お客様のご負担となります。</span><br>
<b>[ ご入金期限 ]</b><br>
ご注文受付日の翌日を1日目として、７日目までにご入金ください。<br>
万一、ご入金期限が経過して、なおかつご入金が確認できない場合は、ご注文の取り消し処理をさせていただきます。予めご了承ください。<br>
<span class="mini">※ご入金期限を過ぎたお振込みの場合は、ご入金期限から３日以内に必ずご連絡ください。</span>

<p class="info"><b>連絡先</b><br>
部署名：ミヤタサイクルお客様相談室<br>
電話番号：0465-80-0661　Mail：info-merida-shop@gear-m.co.jp</p>
<br>
<b>[ ご注文完了からご入金確認までの流れ ]</b><br>
ご注文完了後、ご依頼主様のメールアドレス宛に「ご注文ありがとうございました」メールを送信させていただきます。メールには「ご注文の詳細」と「ご入金額（請求総額）」「振込み先」が記載されておりますので、ご確認いただき振り込みを行ってください。入金を確認次第、「ご入金を確認いたしました」メールをご依頼主様のメールアドレス宛に送信させていただきます。<br>
その後、出荷の準備が整い次第、商品を発送させて頂きます。</div>
-->
        </div>
        <!-- guide_bg -->
        <h2>商品のキャンセルについて</h2>
        <p>ご注文内容確定後のキャンセルはいたしかねますので、ご了承ください。<br>
          MERIDAスタッフからお客様へお電話でのご連絡が終わった段階でご注文内容確定となります。</p>
        <h2>納期について</h2>
        <p>MERIDAスタッフからお客様へお電話でにてお伝えいたします。</p>
        <h2 id="sending">商品の配送・お受け取りについて</h2>
        <p>MERIDA SHOPよりご購入いただいたバイクは、お客様への直送は行っておりません。<br>
          ご注文時にご指定いただいた最寄りの「正規取扱店」へ配送させていただき、組立・調整後「正規取扱店」での受け渡しとなります。お客様に合わせた最終調整をさせていただき、MERIDAバイクの商品特性を最大限に引き出すためですので、予めご了承ください。</p>
        <h2>返品について</h2>
        <p>返品期限は、商品到着後7日以内です。<br>
          商品到着時に商品の破損、不良が認められた場合は交換させていただきます。 それ以外の理由による、お取替え、ご返品には応じることはできませんので、ご了承ください。<br>
          不具合があった場合には、商品到着より７日間以内に、事前に弊社までご連絡ください。<br>
          <br>
          【TEL】 0465-80-0661（お客様相談室）　【MAIL】info-merida-shop@gear-m.co.jp<br>
          <span class="u-f-small">※返品時の送料は、商品不良、発送商品間違いの場合、弊社着払いにて対応いたします。 </span> </p>
        <h2>お問い合わせについて</h2>
        <p>MERIDA Shop及びMERIDA Shop取扱商品について、ご不明な点がございましたら上部メニューの[CONTACT]からお問い合わせください。<br>
          内容により数日お時間をいただく場合もございますので、予めご了承下さい。<br>
          電話でのお問い合わせは、下記宛てにお願いします。<br><br>
          <span class="u-f-small">※お電話にてお問い合わせいただいた際、お客様のお名前、ご住所、電話番号、をお伺いすることがございますが、 お問い合わせへの対応及び社内統計処理の為のみ利用させていただきます。 また、お客様からのお電話は内容確認の為、録音させていただいております。</span></p>
        <!--<p class="info-alert"><b class="info-alert-title">お客様相談室の営業時間の短縮のお知らせ</b><br>
新型コロナウィルス感染症拡大防止の為、＜お客様相談室窓口＞につきましては、緊急事態宣言の期間中、下記の電話受付時間に短縮させていただきます。<br>
ご迷惑をおかけ致しますが、何卒ご理解ご了承の程、お願い致します。<br><br>
<b>電話受付時間：平日9時30分&#12316;15時30分(土・日・祝日休み)</b></p>-->
        <p class="u-box-info u-box__gray"><b>お問い合わせ先</b><br>
          部署名：メリダジャパンお客様相談室<br>
          電話番号：0465-80-0661<br>
          <br>
          電話受付時間：平日9時半&#12316;17時半（土・日・祝日休み）</p>
        <!-- end ▲ コンテンツend▲ -->
<!-- end ▲ コンテンツend▲ -->
</div>
{% schema %}
{
  "name": "Custom Main Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "セクションの余白設定"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "上パディング",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "下パディング",
      "default": 36
    }
  ]
}
{% endschema %}
